body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e3a000;
}

a {
  color: #00B7FF;
}

.book{
	display: inline-block;
	width: 300px;
}

.book img{
	width: 50%;
	height: 50%;
}