extends layout

block content
  .main
    fieldset
      form(action='/' method='post')
        input.ghost-input(name='city' type='text' placeholder='Enter a City' required='')
        input.ghost-button(type='submit' value='Get Weather')
  script(type='text/javascript' src='javascripts/jquery.js')
  script(type='text/javascript' src='javascripts/server.js')


