extends layout

block content
  #main
    #preguntas
      h1 Encuesta de tecnología
      form(action='')
        .pais
          h3#labelPaises País de residencia
          select(name='' id='paises')
            option(value='') Elija una opción
    #respuestas
      #tablero        
        table#tabla
          tr#resultados
            th País de residencia
            th Lenguaje
            th Nivel
            th Sistema operativo
            th Editor de texto
  script(src='javascripts/jquery.js')
  script(src='javascripts/script.js')