*{
	box-sizing: border-box;
	margin: auto;
	font-family: 'Slabo 27px', serif;
}

body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}

.main {
	width: 60%;
	height: auto;
	display: flex;
	margin: auto;
	margin-top: 30px;
	padding: 20px 0px 5px 0px;
	background-color: #198c8c;
}

.menu{
	width: 60%;
}

.tuAlmuerzo{
	width: 40%;
}

#platoPrincipal, #guarnicion, #postre{
	border: none;
    background: #fff;
    width: 200px;
    height: 20px;
    font-size: 12px;
}

.title {
	color: #fff;
	text-decoration: underline;
}
.almuerzo {
	width: 30%;
	height: 200px;
	background-color: #3a160a;
	text-align: center;
}

.almuerzo .resultado {
	display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

.almuerzo .resultado p {
	margin: 20px;
	color: #fff;
}

img{
	width: 30px;
}