.cuadro-foto {
	width: 50%;
	height: 300px;
	margin-top: -15%;
	margin-left: 25%;
	background-color: #4c5881;
	position: absolute;
}

#foto {
   width: 45%;
   height: 300px;
   float: left;
}

#foto img {
	float: left;
	width: 100%;
	height: 300px;
}
/*el div donde van los 3 divs con la info*/
#datos{
	width: 55%;
	height: 300px;
	display: flex;
    flex-flow: column; 
}
/*los 3 divs con la info*/
#uno, #dos, #tres {
	width: 100%;
}

#uno{
	height: 25%;
}

#dos{
   height: 60%;
}
#tres{
	height: 15%;
}

#tres {
  background-color: #a2a6ab;
}

#uno h3, p {
	text-align: left;
	margin-left: 5px;
}

#dos span {
	font-size: 15px;
	margin-left: 5px;
}

#lista2 {
	text-align: center;
}

#lista2 img {
	width: 20px;
	height: 20px;
}

#lista2 li {
	display: inline-block;
	margin-right: 62px;
}

