*{
  box-sizing: border-box;
  font-family: 'Modern Antiqua', cursive;
}

body {
  background-color: black;
  background-image: url("../img/human_gross.jpg");
  background-repeat: no-repeat;
  background-position: center ;
}


h1{
  color: #14e006;
  letter-spacing: 2px;
}

#nombrejugador, #jugadas{
  font-size: 15px;
  color: #01a1ff;
}

#instrucciones{
  color: #8ff6ff;
  font-size: 17px;
  text-decoration: underline;
}

#corona{
  color: #b9b1dd;
}

.reglas{
  width: 400px;
  float: left;
}

#rule {
  color:  #ff00a7;
  font-size: 12px;
}

.tabla {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.carta {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.carta,
.back,
.front {
  height: 170px;
  width: 170px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: url('../img/carta_oculta.png') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: url('../img/guys.gif') !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 500px) {

body {
  background-color: black;
  background-image: url("../img/human_gross.jpg");
  background-repeat: no-repeat;
  background-position: center ;
}

.main {
  width: 70%;
}

.reglas {
    width: 100%;
 }

.tabla{
  width: 100%;
}

.carta, .back, .front {
  height: 100px;
  width: 100px;
}

}

@media (max-width: 200px){
body {
  background-color: black;
  background-image: url("../img/human_gross.jpg");
  background-repeat: no-repeat;
  background-position: center ;
}

.main {
  width: 50%;
}

.reglas {
    width: 100%;
 }

.tabla{
  width: 100%;
}

  .carta, .back, .front {
    height: 80px;
    width: 80px;
  }
}