body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darksalmon;
}

a {
  color: #00B7FF;
}

.discos{
	display: inline-block;
	width: 300px;
}

 .discos img{
	width: 50%;
	height: 50%;
}
