doctype html
html
  head
    title= discos
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
