<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="">
        <title>Home</title>
    </head>
    <body>
        <div class="main">
            <div class="info">
                <header>
                    <div class="cuenta">
                        <h3 class="registro"><a class="registrate" href="registrate.html"> Ingresar a mi cuenta / Registrate</a></h3>
                    </div>
                </header>
                <nav>
                    <div id="primeroslinks">
                        <a href="" target="_blank"> Home</a>
                        <a href="" target="_blank"> Generos</a>                        
                    </div>
                    <div id="logo">
                        <img src="img/Logo.png" class=" logo" alt="logo">
                    </div>
                    <div id="segundoslinks">
                        <a href="" target="_blank"> Discos</a>
                        <a href="" target="_blank"> Contacto</a>
                    </div>
                </nav>
                </br>
                <div class="buscar">
                    <input type="search" name="mibusqueda">
                    <input type="submit" value="Buscar">
                </div>
                <div id="imgtitulos">
                    <img src="images/Titulo_derecha.png">
                    <img src="images/Titulo_izquierda.png">
                </div>
            </div>
            <div class="favoritos">
                <aside>
                    <img src="images/principal1.jpg">
                </aside>
                <section>
                    <div id="disco1"><img src="images/disco6.jpg"><input type="text" name="cantidad"><input type="submit" value="Comprar"></div>
                    <div id="disco1"><img src="images/disco2.jpg"><input type="text" name="cantidad"><input type="submit" value="Comprar"></div>
                    <div id="disco1"><img src="images/disco5.jpg"><input type="text" name="cantidad"><input type="submit" value="Comprar"></div>
                    <div id="disco1"><img src="images/disco4.jpg"><input type="text" name="cantidad"><input type="submit" value="Comprar"></div>
                </section>
            </div>
            <div class="carousel">
                
            </div>
            <footer>
                <p>Buenos Aires, Argentina. Av Callao 838 Copyright 2018</p>
                <a href=""><img src=""></a>
                <a href=""><img src=""></a>
                <a href=""><img src=""></a>
            </footer>
        </div>
    </body>
</html>